<a href="https://colab.research.google.com/github/DestroOG/DSA-geeksforgeeks/blob/main/DSA_GekksForGeeks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro and Analysis Of Algorithm

#### Q) Sum of N natural numbers

In [ ]:
n=n+1;
for n in range (0,6):
  print(n);

0
1
2
3
4
5

In [ ]:
n=int(input("Number: "))
sum = 0 # i didnt understand this
for i in range(1,n+1):
  sum=sum+i

print(sum);

Number: 3
6

#### Recrusion

In [ ]:
def fibo(n):
    if n <= 1:
        return n
    else:
        return (fibo(n - 1) + fibo(n - 2))

n_terms = 10
print("Fibonacci Series:")
for i in range(n_terms):
    print(fibo(i))

Fibonacci Series:
0
1
1
2
3
5
8
13
21
34

In [ ]:
n=int(input("Write Number:"))

sum = 0
for i in range (1,n+1):
  sum = sum + i
print(sum)

Write Number:6
21

a better way: sum of first n number (mathematically) = n*(n+1)/2, so use this for your question

In [ ]:
n=int(input("Emter Number: "))
sum=n*(n+1)/2
print(sum)

Emter Number: 10
55.0

This code is so much better as its rate of growth is constant and its asymptotically better as well.

## Mathematics

### Q) Count digits

In [ ]:
n=int(input("Enter Number: "))
ans=0
while n>0:
  n=n//10
  ans=ans+1

print("Count of digits =", + ans)

Enter Number: 6678
Count of digits = 4

#### Q) Find factorial of a number

In [ ]:
# Using Recursion
def fact(n):
  if n == 0:
    return 1
  else:
    return n*fact(n-1)

n=int(input("Enter number: "))

ans=fact(n)

print(f"The Factorial of {n} is {ans}")

# Using Loops (Iteration)
def factorial_iterative(n):
    result = 1
    for i in range(1, n + 1):
        result *= i # result = result * i
    return result

# Input: Get the number from the user
n = int(input("Enter a number: "))

# Calculate the factorial using the iterative approach
fact = factorial_iterative(n)

# Output: Print the factorial
print(f"The factorial of {n} is {fact}")

Enter number: 2
The Factorial of 2 is 2

### Count of numbers in factorial

In [ ]:
#my code
class Solution:
    def digitsInFactorial(self,N,m):
        m = 1
        for i in range(1, N + 1):
            m *= i
        ans=0
        while m>0:
            m=m//10
            ans=ans+1
        return ans

In [ ]:
#corrected code
class Solution:
    def digitsInFactorial(self, N):
        factorial = 1
        for i in range(1, N + 1):
            factorial *= i
        ans = 0
        while factorial > 0:
            factorial = factorial // 10
            ans = ans + 1
        return ans

In [ ]:
#optimmized code
class Solution:
    def digitsInFactorial(self, N):
        m = 1
        for i in range(1, N + 1):
            m *= i
        count = len(str(m))
        return count

In [ ]:
# now actual optimization
import math
class Solution:
    def digitsInFactorial(self, N):
      sum=1
      for i in range(1,n+1):
        sum+=math.log10(i)
      return math.floor(sum)+1

### Trailing zeros

In [ ]:
#bhai wtf
def countzeros(n):
  i=5
  while(i<n):
    res=res+n//i
    i=i*5
  return res

In [ ]:
def HCF(a,b):
  while(a!=b):
    if a>b:
      a=a-b
    else:
      b=b-a
  return a

a=int(input("a: "))
b=int(input("b: "))
print(f"HCF of the two numbers are {HCF(a,b)}")

a: 24
b: 8
HCF of the two numbers are 8

## Lists

### Basics and Intro

In [ ]:
l=[12,15,24,35,59]

print(l)
print(l[3])
print(l[-2])
print(l[-1])

[12, 15, 24, 35, 59]
35
35
59

### Mean of List

In [ ]:
import math
l=[12,15,24,35,59]
avg=sum(l)/len(l)
print(avg)

29.0

Segregation of list into odd and even

In [ ]:
import math
l=[12,15,24,35,59,30,22,37]
e=[]
o=[]
for element in l:
  if element%2 != 0:
    e.append(element)
  else:
    o.append(element)

print(e,o)

[15, 35, 59, 37] [12, 24, 30, 22]

### Smaller than x

In [ ]:
l=[12,15,24,35,59,30,22,37]
x=25
s=[]
for i in l:
  if i<x:
    s.append(i)

print(s)

[12, 15, 24, 22]